:root {
  --ırıs: #4d5ae5;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lıght-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --daıry: #fcfcfc;
  --ocean: #404bbf;
}

body,
html {
  background-color: #ffffff;
  font-family: "Roboto" sans-serif;
  color: var(--slate);
  font-size: 16px;
  letter-spacing: 2%;
}


.logo-hea {
  font-family: "raleway" sans-serif;
  color: var(--ırıs);
  font-size: 18px;
font-weight: 700;
letter-spacing: 0.03em;
text-transform: uppercase;
  line-height: 1.17;
  cursor: pointer;
}
.stu-dio {
  color: var(--navy-blue);
}
.header-link {
  font-size: 16px;
}
.adress-mail, .adress-num {
  font-size: 12px;
}
.header-link, .adress-mail, .adress-num {
  font-family: "Roboto";
  color: var(--grey);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  color: var(--ocean);
  
}
.adress-mail:hover,
.adress-mail {
  color: var(--ocean);
}
.adress-num:hover,
.adress-num:focus {
  color: var(--ocean);
}


h1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02;
  color: var(--white);


}

.order-service {
  background-color: var(--navy-blue);
}
.button-text-color:hover
.button-text-color:focus {
  background-color: var(--ocean);
  cursor: pointer;
}
button {
  background-color: var(--ırıs);
  font-family: "Roboto" sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}


.our-team {
  background-color: var(--cloud);
}
.little-title-p,
h3 {
  font-family: "Roboto";
  color: var(--grey);
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.2;

}
p {
  font-family: "Roboto";
  color: var(--slate);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  
}
h2 {
  font-family: "Roboto";
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue-modal);
  letter-spacing: 0.02em;
  line-height: 1.11;

}
.footer {
  font-family: "raleway" sans-serif;
    color: var(--ırıs);
    font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
    line-height: 1.17;
    cursor: pointer;
  
}


.stu-dio {

  color: var(--navy-blue);
}
.footer-p {
  color: var(--cloud);
  letter-spacing: 0.02em;
  background-color: var(--navy-blue-modal);
  font-size: 12px;
  line-height: 1.5;
}
