.body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 2%;
  display: block;
  position: relative;
}

.logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway";
  font-weight: bold;
  letter-spacing: 0.03;
  line-height: 1.17;
}

.a {
  color: #2e2f42;
  font-family: "Roboto";
  font-weight: medium;
  font-size: 16px;
  letter-spacing: 2%;
}

.order-service {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #2e2f42;
  width: 1440;
  height: 600;
  align-items: center;
  text-align: center;
}
.button-text-color {
  font-weight: medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}
h1 {
  color: #fff;
}
.our-team {
  background-color: #f4f4fd;
}
.little-title-p {
  font-family: "Roboto";
  color: #2e2f42;
  font-weight: medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
p {
  font-family: "Roboto";
  color: #434455;
  font-size: 12px;
  font-weight: "Regular";
  line-height: 14px;
  letter-spacing: 4%;
}
h2 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: Medium;
  letter-spacing: 2%;
}
.footer {
  background-color: #2e2f42;
}
.little-title-footer {
  color: #fff;
}
.footer-p {
  color: #f4f4fd;
}
